<!DOCTYPE html>
<html>
  <head>
    <title><%= content.name %>'s Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1 class="display-4"><%= content.title %></h1>
    <hr>
    <p><%= content.content %></p>
  </body>
</html>
