<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#btn').click(function() {
        var n = $('#num').val();
        $.getJSON('/ajax?id=' + n, function(json) {
          var msg =   '<table>'  
                    + '<tr><th>名前</th>' + '<td>' + json.name + '</td></tr>'
                    + '<tr><th>年齢</th>' + '<td>' + json.age + '</td></tr>'
                    + '<tr><th>メール</th>' + '<td>' + json.mail + '</td></tr>'
                    + '<table/>';
          $('#msg').html(msg); 

        });
      });
    });
  </script>
</head>
<body>
  <head>
    <h1><%= title %></h1>
  </head>
  <div role="main">
    <% if (content != null) {%>
      <ol>
      <% for(var i in content) { %>
        <% var obj = content[i]; %>
        <li><a href="<%=obj.link%>"><%=obj.title%></a></li>
      <% } %>
      </ol>
    <% } %>
  </div>
</body>
</html>