<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Sign In</h1>
    <form action="/auth/signin" method="POST">
      <table class="table">
        <colgroup span="2">
          <col width="30%">
          <col>
        </colgroup>
        <tr>
          <th>MAIL</th>   
          <th>PASSWORD</th>   
        </tr>
        <tr>
          <td><input name="mail" type="text" value="<%=mail %>"></td>
          <td><input name="password" type="password" value="<%=password %>"></td>
        </tr>
      </table>
      <p style="color: red;"><%=msg %></p>
      <input class="btn btn-primary" type="submit" value="Send">
    </form>
  <div>
    <a class="btn btn-secondary" href="/">Back</a>
  </div>
  </body>
</html>
