<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="./style.css" type="text/css">
  <script>
    function setId() {
      var id = document.querySelector('#id_input').value;
      localStorage.setItem('id', id);
      location.href = '/';
    }
  </script>
</head>
<body>
  <head>
    <h1>LOGIN</h1>
  </head>
  <div role="main">
    <p>あなたのログインネームを入力ください。</p>
    <p>
      <input type="text" id="id_input">
      <button onclick="setId();">送信</button>
    </p>
  </div>
</body>
</html>
